html, body, #root, #root > div, #root > div > div {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #b2c0dc;
}